{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    </section>
    <section class="login section-padding text-center">
        <div class="container-fluid py-5">
            <div>
                <div class="row py-5">
                    <div class="col-sm-12 mx-auto glass">
                        <h1>Welcome Back!</h1>
                        <h2>Log In</h2>
                    <div class="py-3">
                        <form action="/login" method="post">
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                            </div>
                            <div class="mb-3">
                                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                            </div>
                            <button class="btn btn-primary" type="submit">Log In</button>
                        </form>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
